.vscode/
__pycache__/
.DS_Store
deeplens.egg-info/
0_test.py
*.png
*.sh
results/
deeplens/do_code/
!lenses/*.png
!lenses/**/*.png
!images/*.png
debug.py
*.log
temp/*

lenses/pancake/
datasets/BSDS300/
*.out

# add my own files
*.ipynb